<div class="container">
    {{!-- Burgers Not Eaten --}}
    <div class="row">
        <div class="col s12 m6">
            <div class="collection">
                {{#each burger}}
                {{#unless eaten}}
                <a class="collection-item" data-id="{{this.id}}">{{this.name}}</a>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        {{!-- Burgers Eaten --}}
        <div class="row">
            <div class="col s12 s6">
                <div class="collection">
                    {{#each burger}}
                    {{#if eaten}}
                    <a class="collection-item" data-id="{{this.id}}">{{this.name}}</a>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>